.blog__section {
  min-height: 40vh;
  background-image: var(--bg-gray-grad);
  padding: 2rem 12rem;
}
.blog__section__content {
  display: flex;
  justify-content: space-between;
  color: #fbfcff;
}
.blog__section__left {
  width: 200px;
}
.blog_text {
  color: #9da9ce;
  margin-bottom: 1.1rem;
}
.blog_info {
  font-weight: 900;
  font-size: x-large;
  margin-bottom: 20px;
}
.blog__section__right {
  width: 358px;
  margin-left: 455px;
}

.blogs__div {
  display: flex;
  justify-content: space-around;
}
.blog__title {
  font-weight: 800;
  font-size: 16px;
}
.open__blog__icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 4px 0px 0px -9px;
}
.div__underline {
  height: 1px;
  width: 100%;
  border: 1px solid black;
}

/**blog page styles**/
.blog__page {
  min-height: 100vh;
  background-image: var(--bg-gray-grad);
  color: white;
}
.blog__page > p {
  font-size: 30px;
  font-weight: 900;
  padding: 20px;
}
.blogs {
}
.blog__card {
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 1.2);
  border-radius: 9px;
  width: 940px;
  height: 205px;
  margin-left: 18px;
  margin-bottom: 15px;
  align-self: flex-start;
  display: flex;
}
.blog__content {
  padding: 12px;
  cursor: pointer;
}
.blog__content__topic {
  margin-bottom: 5px;
}
.blog__content__topic > p {
  font-size: 20px;
  font-weight: 500;
}
.MuiAvatar-colorDefault {
  color: #fafafa !important;
  background-color: black !important;
}
.blog__content__title {
  margin-bottom: 5px;
}
.blog__content__title > p {
  font-size: 18px;
  font-weight: 500;
}
.blog__content__desc {
  margin-bottom: 5px;
}
.blog__content__desc > p {
  font-size: 15px;
  font-weight: 500;
}
.blog__content__footer {
  margin-bottom: 5px;
}
.blog__img {
  margin: -12px 0px -151px 82px;
}
.blog__img > img {
  position: absolute;
  width: auto;
  height: 191px;
}
