.manage__page {
  min-height: 100vh;
  background-image: var(--bg-black-grad);
  color: white;
}
.manage__page > code {
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
  padding: 30px;
  margin-left: 20px;
}
.manage__options {
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
  padding: 40px;
}
.divider {
  background-color: white;
  height: 2px;
  width: 330px;
}
.content__card {
  box-sizing: border-box;
  border-radius: 9px;
  font-weight: 800;
  font-size: 1.2rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 1.2);
  margin: 5px;
  padding: 30px;
  position: relative;
  height: 300px;
  width: 390px;
}
.content__card > p {
  margin: 20px;
}
h1 {
  padding: 16px;
  margin-left: 33px;
}
.status {
  margin-left: 40px;
  color: red;
}
/**Manage projects console**/
.managae__content {
  padding: 30px;
}
.projects {
  box-sizing: border-box;
  border-radius: 9px;
  font-weight: 800;
  font-size: 1.2rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 1.2);
  margin: 5px;
  padding: 20px;
  position: relative;
  height: auto;
  width: 600px;
}
