* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bg-color-black: radial-gradient(
      circle at 16% 83%,
      rgba(148, 148, 148, 0.06) 0%,
      rgba(148, 148, 148, 0.06) 50%,
      rgba(63, 63, 63, 0.06) 50%,
      rgba(63, 63, 63, 0.06) 100%
    ),
    radial-gradient(
      circle at 68% 87%,
      rgba(66, 66, 66, 0.06) 0%,
      rgba(66, 66, 66, 0.06) 50%,
      rgba(105, 105, 105, 0.06) 50%,
      rgba(105, 105, 105, 0.06) 100%
    ),
    radial-gradient(
      circle at 38% 50%,
      rgba(123, 123, 123, 0.06) 0%,
      rgba(123, 123, 123, 0.06) 50%,
      rgba(172, 172, 172, 0.06) 50%,
      rgba(172, 172, 172, 0.06) 100%
    ),
    linear-gradient(90deg, hsl(18, 0%, 1%), hsl(18, 0%, 1%));
}
body {
  font-family: "Kanit", sans-serif;
}
main {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
/*Hide scrollbar for chrome,safari*/
main::-webkit-scrollbar {
  display: none;
}
/*Hide scrollbar for IE,Edge,Firefox*/
main::-webkit-scrollbar {
  -ms-overflow-style: none; /*IE & Edge*/
  scrollbar-width: none; /* FireFox */
}

.profile__section {
  background-image: repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      112.5deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    linear-gradient(90deg, rgb(61, 61, 61), rgb(61, 61, 61));
  padding: 1rem 15rem;
}
.header_icon {
  color: white;
  /*opacity: 0;*/
  height: 50px;
  width: 50px;
}
.mobile_div,
.mobile_menu_bar {
  display: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.nav__links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  opacity: 0;
  padding-right: 30px;
}
.nav__links li {
  padding-left: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.header_introduction {
  padding: 4rem 0rem;
  display: flex;
  justify-content: space-between;
  color: white;
}
.intro_name {
  font-weight: 900;
  font-size: 2.5rem;
}
.responsive_name {
  display: none;
}
.fname {
  display: block;
}
.lname {
  display: block;
}
.intro_name_ul {
  width: 45px;
  height: 6px;
  background-color: yellow;
}
.intro_details {
  margin-right: 52px;
  width: 300px;
  font-weight: 800;
}
.intro_text {
  color: #9da9ce;
  margin-bottom: 1.1rem;
}

.intro_story {
  margin-top: 10px;
  opacity: 0;
}
.intro_story a {
  color: yellow;
}

a:hover {
  color: yellowgreen;
}
a:active {
  color: yellow;
}
.profile_contact_section {
  min-height: 40vh;
  background-image: repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      157.5deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      112.5deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      22.5deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    linear-gradient(90deg, rgb(34, 34, 34), rgb(34, 34, 34));
  padding: 2rem 15rem;
}
.contact_and_qoute {
  display: flex;
  justify-content: space-between;
  color: #fbfcff;
}
.contact {
  width: 219px;
}
.contact_text {
  color: #9da9ce;
  margin-bottom: 1.1rem;
}
.contact_info {
  font-weight: 900;
  font-size: x-large;
  margin-bottom: 20px;
}
.contact_email {
  font-weight: 500;
  font-size: medium;
  color: yellow;
}
.quote {
  width: 355px;
}
.quote_1 {
  font-weight: 900;
  font-size: x-large;
  margin-bottom: 10px;
}
.quote_2 {
  font-weight: 500;
  font-size: large;
  margin-bottom: 10px;
  width: 300px;
}
.experience_projects_blogs {
  display: flex;
  justify-content: space-evenly;
  margin-right: 90px;
  padding-top: 10px;
}
.scroll_down_arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  /*top: 580px;
  position: absolute;
  left: 550px;*/
}
.scroll_down_arrow img {
  width: 65px;
  height: 65px;
}
.sec2,
.sec3 {
  width: 100%;
  height: 100vh;
}
.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background-image: repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      112.5deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    linear-gradient(90deg, rgb(78, 50, 50), rgb(78, 50, 50));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
.intro-text {
  color: rgb(233, 233, 233);
  font-size: 2.5rem;
}
.hide {
  background: black;
  overflow: hidden;
}
.hide span {
  display: inline-block;
  transform: translateY(100%);
}
.large_font_div {
  display: flex;
  justify-content: space-around;
}
.exp_number1 {
  display: inline-block;
  width: 20px;
  height: 50px;
  font-weight: 900;
  font-size: 50px;
  margin-top: -24px;
  margin-right: 5px;
  margin-left: 14px;
  color: #f86d09;
}
.exp_number {
  display: inline-block;
  width: 20px;
  height: 50px;
  font-weight: 900;
  font-size: 50px;
  margin-top: -24px;
  margin-right: 3px;
  margin-left: 1px;
  color: #f86d09;
}
.exp_word1 {
  display: inline-block;
  padding-top: 3px;
  font-size: 11px;
  margin-right: 18px;
  margin-left: -9px;
}

.exp_word {
  display: inline-block;
  padding-top: 15px;
  font-size: 11px;
  margin-right: 26px;
  margin-left: -7px;
}
@media (max-width: 800px) {
  main {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .profile__section {
    padding: 1rem 2rem;
  }
  .nav__links {
    display: flex;
    list-style: none;
    /*justify-content: space-around;*/
    opacity: 0;
    padding-right: 0px;
  }
  .header_introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
  }
  .intro_details {
    width: 350px;
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
  }
  .intro_text {
    margin: 7px 42px 4px 46px;
  }
  .intro_job_title,
  .intro_job_details,
  .intro_story {
    margin: 7px 42px 0px 46px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .fname,
  .lname {
    display: none;
  }
  .responsive_name {
    display: flex;
    justify-content: flex-start;
    width: 258px;
    margin-top: 37px;
    /*margin-right: 42px;*/
  }
  .intro_name {
    font-weight: 600;
    font-size: 1.7rem;
    margin-left: auto;
    margin-right: auto;
  }
  .intro_name_ul {
    width: 140px;
    height: 6px;
    background-color: yellow;
    animation: scale 5s ease-in-out;
  }
  @keyframes scale {
    from {
      transform: scaleX(-1);
      background-color: yellow;
    }
    to {
      transform: scaleX(1);
    }
  }
  .profile_contact_section {
    padding: 0px 71px;
    height: fit-content;
  }
  .contact_and_qoute {
    display: flex;
    flex-direction: column;
  }
  .contact_text {
    color: #9da9ce;
    margin-bottom: 0.3rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 10px;
  }
  .contact_info {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .contact_email {
    font-weight: 500;
    font-size: medium;
    color: yellow;
  }
  .quote {
    width: 355px;
  }
  .quote_1 {
    font-weight: 600;
    font-size: x-large;
    margin-bottom: 10px;
  }
  .quote_2 {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 10px;
    width: 260px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
  .experience_projects_blogs {
    display: flex;
    justify-content: space-evenly;
    margin-right: 90px;
    padding-top: 10px;
  }
  .sec2,
  .sec3 {
    width: 100%;
    height: 100vh;
  }
  .exp_word1 {
    display: inline-block;
    padding-top: 2px;
    font-size: 14px;
    margin-right: 18px;
    margin-left: -9px;
  }

  .exp_word {
    display: inline-block;
    padding-top: 15px;
    font-size: 14px;
    font-weight: 500;
    margin-right: 26px;
    margin-left: -7px;
  }
  .scroll_down_arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    /*top: 690px;
    position: absolute;
    left: 180px;*/
  }
  .scroll_down_arrow img {
    width: 65px;
    height: 65px;
  }
  .intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .intro-text {
    color: rgb(233, 233, 233);
    font-size: 1.2rem;
  }
  .non_mobile {
    display: none;
  }
  .mobile_div {
    display: block;
    min-width: 250px;
    min-height: 100vh;
    padding-left: 20px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 180px;
    float: right;
    overflow-x: hidden;
    background-image: var(--bg-color-black);
  }
  .close_icon {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-weight: 900;
    font-size: 1.9rem;
    padding: 23px;
    margin-right: 52px;
    cursor: pointer;
  }
  .mobile_div nav {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.2rem;
  }
  .nav__links__mob li {
    list-style: none;
    padding: 50px;
  }
  .mobile_menu_bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 6px;
    left: 17px;
    right: 25px;
    overflow: hidden;
  }
  .mobile_menu_bar img {
    width: 45px;
    height: 45px;
  }
  .header_icon {
    margin-top: 10px;
  }
  .menu_icon {
    cursor: pointer;
    font-size: 2.4rem;
    color: #f3b61f;
  }
}
