* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
/*Hide scrollbar for chrome,safari*/
main::-webkit-scrollbar {
  display: none;
}
/*Hide scrollbar for IE,Edge,Firefox*/
main::-webkit-scrollbar {
  -ms-overflow-style: none; /*IE & Edge*/
  scrollbar-width: none; /* FireFox */
}
main {
  font-family: "Kanit", sans-serif;
}
.profile__section {
  background-image: repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      112.5deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    linear-gradient(90deg, rgb(61, 61, 61), rgb(61, 61, 61));
  padding: 1rem 15rem;
}
.header_icon {
  color: white;
  opacity: 0;
  height: 50px;
  width: 50px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.nav__links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  opacity: 0;
  padding-right: 30px;
}
.nav__links li {
  padding-left: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.header_introduction {
  padding: 4rem 0rem;
  display: flex;
  justify-content: space-between;
  color: white;
}
.intro_name {
  font-weight: 900;
  font-size: 2.5rem;
}
.fname {
  margin-top: 30px;
  margin-bottom: -30px;
  opacity: 0;
}
.lname {
  margin-top: 30px;
  margin-bottom: -30px;
  opacity: 0;
}
.intro_name_ul {
  width: 45px;
  height: 6px;
  background-color: yellow;
}
.intro_details {
  margin-right: 52px;
  width: 300px;
  font-weight: 800;
}
.intro_text {
  color: #9da9ce;
  margin-bottom: 1.1rem;
}

.intro_story {
  margin-top: 10px;
  opacity: 0;
}
.intro_story a {
  color: yellow;
}

a:hover {
  color: yellowgreen;
}
a:active {
  color: yellow;
}
.profile_contact_section {
  min-height: 40vh;
  background-image: repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      157.5deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      112.5deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      22.5deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    linear-gradient(90deg, rgb(34, 34, 34), rgb(34, 34, 34));
  padding: 2rem 15rem;
}
.contact_and_qoute {
  display: flex;
  justify-content: space-between;
  color: #fbfcff;
}
.contact {
  width: 219px;
}
.contact_text {
  color: #9da9ce;
  margin-bottom: 1.1rem;
}
.contact_info {
  font-weight: 900;
  font-size: x-large;
  margin-bottom: 20px;
}
.contact_email {
  font-weight: 500;
  font-size: medium;
  color: yellow;
}
.quote {
  width: 355px;
}
.quote_1 {
  font-weight: 900;
  font-size: x-large;
  margin-bottom: 10px;
}
.quote_2 {
  font-weight: 500;
  font-size: large;
  margin-bottom: 10px;
  width: 300px;
}
.experience_projects_blogs {
  display: flex;
  justify-content: space-evenly;
  margin-right: 90px;
  padding-top: 10px;
}
.sec2,
.sec3 {
  width: 100%;
  height: 100vh;
}
.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background-image: repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      112.5deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    linear-gradient(90deg, rgb(78, 50, 50), rgb(78, 50, 50));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
.intro-text {
  color: rgb(233, 233, 233);
  font-size: 2.5rem;
}
.hide {
  background: black;
  overflow: hidden;
}
.hide span {
  display: inline-block;
  transform: translateY(100%);
}
.large_font_div {
  display: flex;
  justify-content: space-around;
}
.exp_number1 {
  display: inline-block;
  width: 20px;
  height: 50px;
  font-weight: 900;
  font-size: 50px;
  margin-top: -24px;
  margin-right: 5px;
  margin-left: 14px;
  color: #f86d09;
}
.exp_number {
  display: inline-block;
  width: 20px;
  height: 50px;
  font-weight: 900;
  font-size: 50px;
  margin-top: -24px;
  margin-right: 3px;
  margin-left: 1px;
  color: #f86d09;
}
.exp_word1 {
  display: inline-block;
  padding-top: 3px;
  font-size: 11px;
  margin-right: 18px;
  margin-left: -9px;
}

.exp_word {
  display: inline-block;
  padding-top: 15px;
  font-size: 11px;
  margin-right: 26px;
  margin-left: -7px;
}
