* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
/*Hide scrollbar for chrome,safari*/
main::-webkit-scrollbar {
  display: none;
}
/*Hide scrollbar for IE,Edge,Firefox*/
main::-webkit-scrollbar {
  -ms-overflow-style: none; /*IE & Edge*/
  scrollbar-width: none; /* FireFox */
}
main {
  font-family: "Kanit", sans-serif;
}
.profile__section {
  background-image: linear-gradient(
      153deg,
      rgba(152, 152, 152, 0.03) 0%,
      rgba(152, 152, 152, 0.03) 9%,
      rgba(197, 197, 197, 0.03) 9%,
      rgba(197, 197, 197, 0.03) 21%,
      rgba(106, 106, 106, 0.03) 21%,
      rgba(106, 106, 106, 0.03) 32%,
      rgba(222, 222, 222, 0.03) 32%,
      rgba(222, 222, 222, 0.03) 72%,
      rgba(16, 16, 16, 0.03) 72%,
      rgba(16, 16, 16, 0.03) 92%,
      rgba(181, 181, 181, 0.03) 92%,
      rgba(181, 181, 181, 0.03) 97%,
      rgba(130, 130, 130, 0.03) 97%,
      rgba(130, 130, 130, 0.03) 100%
    ),
    linear-gradient(
      39deg,
      rgba(237, 237, 237, 0.03) 0%,
      rgba(237, 237, 237, 0.03) 22%,
      rgba(126, 126, 126, 0.03) 22%,
      rgba(126, 126, 126, 0.03) 55%,
      rgba(196, 196, 196, 0.03) 55%,
      rgba(196, 196, 196, 0.03) 61%,
      rgba(121, 121, 121, 0.03) 61%,
      rgba(121, 121, 121, 0.03) 71%,
      rgba(133, 133, 133, 0.03) 71%,
      rgba(133, 133, 133, 0.03) 84%,
      rgba(132, 132, 132, 0.03) 84%,
      rgba(132, 132, 132, 0.03) 97%,
      rgba(185, 185, 185, 0.03) 97%,
      rgba(185, 185, 185, 0.03) 100%
    ),
    linear-gradient(
      124deg,
      rgba(168, 168, 168, 0.03) 0%,
      rgba(168, 168, 168, 0.03) 7%,
      rgba(169, 169, 169, 0.03) 7%,
      rgba(169, 169, 169, 0.03) 19%,
      rgba(73, 73, 73, 0.03) 19%,
      rgba(73, 73, 73, 0.03) 50%,
      rgba(150, 150, 150, 0.03) 50%,
      rgba(150, 150, 150, 0.03) 67%,
      rgba(68, 68, 68, 0.03) 67%,
      rgba(68, 68, 68, 0.03) 81%,
      rgba(111, 111, 111, 0.03) 81%,
      rgba(111, 111, 111, 0.03) 91%,
      rgba(191, 191, 191, 0.03) 91%,
      rgba(191, 191, 191, 0.03) 100%
    ),
    linear-gradient(
      95deg,
      rgba(147, 147, 147, 0.03) 0%,
      rgba(147, 147, 147, 0.03) 17%,
      rgba(79, 79, 79, 0.03) 17%,
      rgba(79, 79, 79, 0.03) 27%,
      rgba(28, 28, 28, 0.03) 27%,
      rgba(28, 28, 28, 0.03) 45%,
      rgba(27, 27, 27, 0.03) 45%,
      rgba(27, 27, 27, 0.03) 56%,
      rgba(228, 228, 228, 0.03) 56%,
      rgba(228, 228, 228, 0.03) 64%,
      rgba(38, 38, 38, 0.03) 64%,
      rgba(38, 38, 38, 0.03) 72%,
      rgba(42, 42, 42, 0.03) 72%,
      rgba(42, 42, 42, 0.03) 100%
    ),
    linear-gradient(
      346deg,
      rgba(59, 59, 59, 0.03) 0%,
      rgba(59, 59, 59, 0.03) 16%,
      rgba(66, 66, 66, 0.03) 16%,
      rgba(66, 66, 66, 0.03) 20%,
      rgba(236, 236, 236, 0.03) 20%,
      rgba(236, 236, 236, 0.03) 41%,
      rgba(244, 244, 244, 0.03) 41%,
      rgba(244, 244, 244, 0.03) 55%,
      rgba(106, 106, 106, 0.03) 55%,
      rgba(106, 106, 106, 0.03) 61%,
      rgba(220, 220, 220, 0.03) 61%,
      rgba(220, 220, 220, 0.03) 63%,
      rgba(209, 209, 209, 0.03) 63%,
      rgba(209, 209, 209, 0.03) 100%
    ),
    linear-gradient(90deg, rgb(96, 83, 123), rgb(17, 8, 13));
  padding: 1rem 10rem;
}
.header_icon {
  color: white;
  opacity: 0;
  height: 50px;
  width: 50px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.nav__links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  opacity: 0;
  padding-right: 30px;
}
.nav__links li {
  padding-left: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.header_introduction {
  padding: 4rem 0rem;
  display: flex;
  justify-content: space-between;
  color: white;
}
.intro_name {
  font-weight: 900;
  font-size: 2.5rem;
}
.fname {
  margin-top: 30px;
  opacity: 0;
}
.lname {
  margin-top: 30px;
  opacity: 0;
}
.intro_name_ul {
  width: 45px;
  height: 6px;
  background-color: yellow;
}
.intro_details {
  margin-right: 52px;
  width: 300px;
  font-weight: 800;
}
.intro_text {
  color: #9da9ce;
  margin-bottom: 1.1rem;
}

.intro_story {
  margin-top: 10px;
  opacity: 0;
}
.intro_story a {
  color: yellow;
}

a:hover {
  color: yellowgreen;
}
a:active {
  color: yellow;
}
.profile_contact_section {
  min-height: 40vh;
  background-image: linear-gradient(
      66deg,
      transparent 0%,
      transparent 24%,
      rgba(195, 195, 195, 0.04) 24%,
      rgba(195, 195, 195, 0.04) 80%,
      transparent 80%,
      transparent 100%
    ),
    linear-gradient(
      153deg,
      transparent 0%,
      transparent 29%,
      rgba(195, 195, 195, 0.04) 29%,
      rgba(195, 195, 195, 0.04) 45%,
      transparent 45%,
      transparent 100%
    ),
    linear-gradient(
      199deg,
      transparent 0%,
      transparent 32%,
      rgba(195, 195, 195, 0.04) 32%,
      rgba(195, 195, 195, 0.04) 59%,
      transparent 59%,
      transparent 100%
    ),
    linear-gradient(
      277deg,
      transparent 0%,
      transparent 56%,
      rgba(195, 195, 195, 0.04) 56%,
      rgba(195, 195, 195, 0.04) 57%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
  padding: 2rem 10rem;
}
.contact_and_qoute {
  display: flex;
  justify-content: space-between;
  color: #fbfcff;
}
.contact {
  width: 219px;
}
.contact_text {
  color: #9da9ce;
  margin-bottom: 1.1rem;
}
.contact_info {
  font-weight: 900;
  font-size: x-large;
  margin-bottom: 20px;
}
.contact_email {
  font-weight: 500;
  font-size: medium;
  color: yellow;
}
.quote {
  width: 355px;
}
.quote_1 {
  font-weight: 900;
  font-size: x-large;
  margin-bottom: 10px;
}
.quote_2 {
  font-weight: 500;
  font-size: large;
  margin-bottom: 10px;
  width: 300px;
}
.experience_projects_blogs {
  display: flex;
  justify-content: space-evenly;
  margin-right: 90px;
}
.sec2,
.sec3 {
  width: 100%;
  height: 100vh;
}
