* {
  --bg-black-grad: repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      157.5deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      112.5deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      22.5deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    linear-gradient(90deg, rgb(34, 34, 34), rgb(34, 34, 34));
  --bg-gray-grad: repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      112.5deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    linear-gradient(90deg, rgb(61, 61, 61), rgb(61, 61, 61));
}
.project {
  display: flex;
  background-image: var(--bg-gray-grad);
  height: 321px;
  /** min-height: 20vh;*/
}
.project__job__profile {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -107px;
  left: 227px;
}
.project__job__profile__card {
  box-sizing: border-box;
  border-radius: 9px;
  font-weight: 800;
  font-size: 1.2rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 1.2);
  margin: 10px;
  padding: 30px;
  position: relative;
  height: 199px;
  width: 200px;
  display: flex;
  text-align: center;
  align-items: center;

  margin-top: 10px;
  margin-right: 56px;
}
.color__sec {
  color: yellow;
}
.color__ml {
  color: sandybrown;
}
.color__fs {
  color: #c2c2c2;
}
.job__profile__icons {
  font-size: 14px;
  color: white;
}
.project__section {
  display: flex;
  background-image: var(--bg-black-grad);
  min-height: 80vh;
}
.projects__intro_p1 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  margin-left: 238px;
  color: white;
  position: relative;
  top: -109px;
}
.project__intro__desc {
  margin-left: 13px;
}
.color {
  color: yellow;
}
.project__intro {
  width: 250px;
  height: 250px;
}
.project__intro h3 {
  color: #9da9ce;
  margin-bottom: 0.9rem;
}
.project1__card {
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 1.2);
  border-radius: 9px;
  width: 306px;
  height: 350px;
  margin-left: 177px;
  opacity: 0;
}
.project__image {
  width: 230px;
  height: 230px;
}
.project__card__name {
  font-weight: 600;
  font-size: 1.1rem;
  color: white;
}
.project__card__techstack {
  display: flex;
  justify-content: space-between;
  margin-left: 18px;
}
code {
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 5px;
}
.icon_img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.project__tech {
  display: flex;
  justify-content: space-between;
}
.project__golive {
  display: flex;
  justify-content: space-between;
}
.icon_img_shuttle {
  margin-top: 4px;
  width: 20px;
  height: 20px;
  margin-left: 6px;
  cursor: pointer;
}
.project__section2 {
  background-image: var(--bg-gray-grad);
  height: 289px;
}
.project2__card__position {
  min-height: 20vh;
  position: relative;
  top: -412px;
  left: 55px;
}
.project3__card__position {
  position: relative;
  top: -567px;
  left: 490px;
}

/**Project page styles**/
.project__page {
  height: 100vh;
  background-image: var(--bg-black-grad);
  color: white;
}
.MuiChip-label {
  font-size: 15px !important;
  font-weight: 800 !important;
  color: white !important;
}
.MuiChip-outlined {
  border-color: rgb(199, 199, 145) !important;
}
.MuiChip-avatarColorSecondary {
  background-color: black !important;
}
.MuiChip-clickableColorSecondary:hover {
  transform: translate(100);
}
.project__page__filters {
  padding: 20px;
}
.project__page__intro {
  margin: 0px 0px 0px 40px;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
}
