* {
  --bg-black-grad: repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      157.5deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      112.5deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      22.5deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    linear-gradient(90deg, rgb(34, 34, 34), rgb(34, 34, 34));
  --bg-gray-grad: repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    repeating-linear-gradient(
      112.5deg,
      rgba(255, 255, 255, 0.05) 0px,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px,
      transparent 21px,
      rgba(255, 255, 255, 0.05) 21px,
      rgba(255, 255, 255, 0.05) 22px,
      transparent 22px,
      transparent 62px
    ),
    linear-gradient(90deg, rgb(61, 61, 61), rgb(61, 61, 61));
}
.techstack {
  display: flex;
  justify-content: space-around;
  background-image: var(--bg-black-grad);
  padding: 4rem 6rem;
}
.code_tech {
  display: inline-block;
  position: relative;
  top: -31px;
  left: -100px;
}
.widget__div {
  width: 300px;
  height: 200px;
}
.my-widget {
  display: inline-block;
  position: relative;
  top: 10px;
  left: -350px;
  --bg-color: #111;
  --header-bg-color: black;
  --badge-bg-color: #333;
  --badge-text-color: #fff;
}
.technologies {
  width: 300px;
  height: 200px;
}
.techstack__technologies_1 {
  display: flex;
  justify-content: space-around;
}
.techstack__technologies_2 {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 20px;
  left: 3px;
}
.techstack__technologies_3 {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 38px;
  left: -118px;
}
.icon_img_tech {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
